@model ComplexMathViewModel
@using Software.ViewModel

@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title - Pihlakad </h1>
<h3> A team of four people have been working on this project.</h3>

<h4> <p> 
<img src="~/Content/Images/Drawing.png" />Siim Erik Potsepp - Big Boss </p> </h4>

<h4> <p>
<img src="~/Content/Images/Drawing (5).png" /> Evelin Veermets - Tracker </p> </h4>

<h4> <p>
<img src="~/Content/Images/Drawing (2).png" /> Annabel Põder - Tester </p> </h4>

<h4> <p>
<img src="~/Content/Images/Drawing (4).png" /> Ellen Loit- Customer </p> </h4>




