@model ComplexMathViewModel
@using Software.ViewModel

<script src="~/Scripts/ShowItems.js"></script>
<h1>Quantity Details</h1>


@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title - Pihlakad </h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>



