
@{
    ViewBag.Title = "HomePage";
}

<style>
    img {
    width: 100%;
    height: auto;
}
</style>
<div class="form-horizontal">
    <img src="~/Content/Images/Logomakr_6u05IU.png" /> 
    

    <div class="row">
        <div class="col-md-4">
            <h2>Simple Calculator</h2>
            <p>
                With this calculator you can do basic aritmetic operations, with simple units.
            </p>
            <p><a class="btn btn-default" href="~/Math/Index">Go to calculator</a></p>
        </div>
        <div class="col-md-4">
            <h2>Complex Calculator</h2>
            <p>With this calculator you can do aritmetic operations with complex formulae.</p>
            <p><a class="btn btn-default" href="~/ComplexMath/Index">Go to calculator</a></p>
        </div>
        <div class="col-md-4">
            <h2>Formulae Generator</h2>
            <p>plpl</p>
            <p><a class="btn btn-default" href="~/Formulae/Index">Go to generator</a></p>
        </div>
    </div>
</div>





