
@{
    ViewBag.Title = "HomePage";
}

<style>
    img {
    width: 100%;
    height: auto;
}
</style>
<div class="form-horizontal">
    <img src="~/Content/Images/MATH_logo.PNG" alt="Logo"/>
    <div class="row">
        <div class="col-md-4">
            <h2>Calculator</h2>
            <p>
                Siia tuleb kirjutada midagi tarka kalkulaatori kohta
            </p>
            <p><a class="btn btn-default" href="~/Math/Index">Go to calc</a></p>
        </div>
        <div class="col-md-4">
            <h2>Formulas</h2>
            <p>Siia tuleks kirjutada midagi formulate kohta</p>
            <p><a class="btn btn-default" href="~/Math/Index">Viib kuhugi</a></p>
        </div>
        <div class="col-md-4">
            <h2>MIda me veel tahame?</h2>
            <p>Kirjutaks siisa ka midagi</p>
            <p><a class="btn btn-default" href="~/Math/Index">Kuhu edasi?</a></p>
        </div>
    </div>
</div>



