
@{
    ViewBag.Title = "HomePage";
}

<style>
    img {
    width: 100%;
    height: auto;
}
</style>
<div class="form-horizontal">
    <img src="~/Content/Images/MATH_logo.PNG" />" 
    <div class="row">
        <div class="col-md-4">
            <h2>Simple Calculator</h2>
            <p>
                With this calculator you can do basic aritmetic operations, with simple units.
            </p>
            <p><a class="btn btn-default" href="~/Math/Index">Go to calc</a></p>
        </div>
        <div class="col-md-4">
            <h2>Complext Calculator</h2>
            <p>With this calculator you can do aritmetic operations with complex formulaes.</p>
            <p><a class="btn btn-default" href="~/ComplexMath/Index">Viib kuhugi</a></p>
        </div>
        <div class="col-md-4">
            <h2>Formulae Generator</h2>
            <p>Kirjutaks siisa ka midagi</p>
            <p><a class="btn btn-default" href="~/Math/Index">Kuhu edasi?</a></p>
        </div>
    </div>
</div>



